
body{
  background-color: #112D4E;
}
#logo {
  margin-right: 10px;
}

.moon {
  color: #000000;
  cursor: pointer;
}

.sun {
  color: #fff;
  cursor: pointer;
}


.hidden{
  display: none;
}

.visible{
  display: block;
}

.mode {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

#ControlTextarea {
  font-size: 24px;
}

#FontSize {
  width: 40px;
  border: 1px solid rgb(186, 186, 186);
}

#Text_count {
  display: inline-block;
  float: right;
  font-style: italic;
}

.clear-btn {
  float: right;
}